#include "loongson_2k0300.dtsi"

/ {
    memory {
        name = "memory";
        device_type = "memory";
        reg =  <0 0x00200000 0 0x0ee00000
             0 0x90000000 0 0x10000000>;
    };

    // ----------蜂鸣器---------- //
    zf_driver_gpio_beep{
        status = "okay";
        compatible = "seekfree,gpio_out";
        gpios = <&gpa0 12 GPIO_ACTIVE_HIGH>;
	};
    zf_driver_gpio_beep1{
        status = "okay";
        compatible = "seekfree,gpio_out";
        gpios = <&gpa1 1 GPIO_ACTIVE_HIGH>;
	};

    // ----------蜂鸣器---------- //

    // ----------按键---------- //
    zf_driver_gpio_key_0{
        status = "okay";
        compatible = "seekfree,gpio_in";
        gpios = <&gpa0 13 GPIO_ACTIVE_HIGH>;
	};

    zf_driver_gpio_key_1{
        status = "okay";
        compatible = "seekfree,gpio_in";
        gpios = <&gpa0 14 GPIO_ACTIVE_HIGH>;
	};

    zf_driver_gpio_key_2{
        status = "okay";
        compatible = "seekfree,gpio_in";
        gpios = <&gpa0 15 GPIO_ACTIVE_HIGH>;
	};

    zf_driver_gpio_key_3{
        status = "okay";
        compatible = "seekfree,gpio_in";
        gpios = <&gpa1 0 GPIO_ACTIVE_HIGH>;
	};
    // ----------按键---------- //

    // ----------拨码开关---------- //
    zf_driver_gpio_switch_0{
        status = "okay";
        compatible = "seekfree,gpio_in";
        gpios = <&gpa1 4 GPIO_ACTIVE_HIGH>;
	};

    zf_driver_gpio_switch_1{
        status = "okay";
        compatible = "seekfree,gpio_in";
        gpios = <&gpa1 5 GPIO_ACTIVE_HIGH>;
	};
    // ----------拨码开关---------- //

    // ----------电机方向引脚---------- //
    // 电机2方向引脚
    // DIR1->GPIO73
    // PWM1->GPIO65
    zf_driver_gpio_motor_1{
        status = "okay";
        compatible = "seekfree,gpio_out";
        gpios = <&gpa4 9 GPIO_ACTIVE_HIGH>;
	};


    // 电机2方向引脚
    // DIR->GPIO72
    // PWM2->GPIO66
    zf_driver_gpio_motor_2{
        status = "okay";
        compatible = "seekfree,gpio_out";
        gpios = <&gpa4 8 GPIO_ACTIVE_HIGH>;
	};
    // ----------电机方向引脚---------- //


    // ----------姿态传感器---------- //
    spi3 {
        status = "okay";
        compatible = "spi-gpio";

        gpio-sck  = <&gpa1 6 GPIO_ACTIVE_HIGH>;     // GPIO22 
        gpio-mosi = <&gpa1 7 GPIO_ACTIVE_HIGH>;     // GPIO23
		gpio-miso = <&gpa1 8 GPIO_ACTIVE_HIGH>;     // GPIO24 
		cs-gpios  = <&gpa1 9 GPIO_ACTIVE_HIGH>;     // GPIO25 

        #address-cells = <1>;
		#size-cells = <0>;
		num-chipselects = <1>;

        imu: imu@0 {
            status = "okay";
            gpio-controller;
		    compatible = "seekfree,imu";    // 自动识别IMU660RA IMU660RB IMU963RA
            spi-max-frequency = <10000000>;
			reg = <0>;
		};

	};
    // ----------姿态传感器---------- //

    // ----------舵机PWM---------- //
    zf_device_pwm_servo{
        compatible = "seekfree,pwm";
        pwms = <&pwm_atim 5 1000000>;   // pwm_atim 通道5 周期(用户不需要关心) (0-6 一共7个通道)
        status = "okay";
        freq = <300>;                   // 300HZ 频率
        duty = <0>;                     // 默认 0% 的占空比
        duty_max = <10000>;             // duty最大值，不建议修改。
    };
    // ----------舵机PWM---------- //





    // ----------电调PWM---------- //
    zf_device_pwm_esc_1{
        status = "okay";
        compatible = "seekfree,gpio_out";
        gpios = <&gpa5 8 GPIO_ACTIVE_HIGH>;

        drive-open-drain;
    };

    zf_device_pwm_esc_2{
        status = "okay";
        compatible = "seekfree,gpio_out";
        gpios = <&gpa5 9 GPIO_ACTIVE_HIGH>;

        drive-open-drain;
    };
    // ----------电调PWM---------- //



//----------自定义p88，p89-------//
 //   zf_driver_gpio_myi2c_scl{
 //      status = "okay";
  //     compatible = "seekfree,gpio_out";
  //     gpios = <&gpa5 8 GPIO_ACTIVE_HIGH>;
//	};
//
 //   zf_driver_gpio_myi2c_sda{
  //      status = "okay";
  //      compatible = "seekfree,gpio_out";
 //       gpios = <&gpa5 9 GPIO_ACTIVE_HIGH>;
//	};


//----------自定义p88，p89-------//




    // ----------电机PWM---------- //
    zf_device_pwm_motor_1{
        compatible = "seekfree,pwm";
        pwms = <&pwm1 0 1000000>;       // pwm1 通道0 周期(用户不需要关心)
        status = "okay";
        freq = <17000>;                 // 17KHZ 频率
        duty = <0>;                     // 默认 0% 的占空比
        duty_max = <10000>;             // duty最大值，不建议修改。
    };

    zf_device_pwm_motor_2{
        compatible = "seekfree,pwm";
        pwms = <&pwm2 0 1000000>;       // pwm2 通道0 周期(用户不需要关心)
        status = "okay";
        freq = <17000>;                 // 17KHZ 频率
        duty = <0>;                     // 默认 0% 的占空比
        duty_max = <10000>;             // duty最大值，不建议修改。
    };
    // ----------电机PWM---------- //  

    // ----------屏幕背光引脚---------- //
    st7789v_blk: st7789v-blk 
    {
        compatible = "gpio-backlight";
        status = "okay";
        gpios = <&gpa4 11 GPIO_ACTIVE_HIGH>;        // GPIO75背光引脚
        default-on;
    };
    // ----------屏幕背光引脚---------- //
};


&cpu_uart0{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart0_2bit_m0>;
    auto-flow-control = <1>;
};

&cpu_uart1{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart1_2bit_m0>;
    auto-flow-control = <1>;
};

&gmac0{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&gmac0_12bit_f0>, <&gmac0_12bit_f1>;
};

&emmc0{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&sdio0_pin_f0>, <&sdio0_pin_f1>;
};
&sdio1{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&sdio1_6bit>;
};

// norflash驱动
&spi0{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_6bit_f0>,<&spi0_6bit_f1>;

    norflash@0 {
       reg = <0>;
       spi-rx-bus-width = <4>;
       spi-max-frequency = <25000000>;
       #address-cells = <1>;
       #size-cells = <1>;
       partitions {
           compatible = "fixed-partitions";
           #address-cells = <1>;
           #size-cells = <1>;

           boot@0 {
               label = "boot";
               reg = <0x0000000 0x100000>;
               /*read-only;*/
           };

           kernel@100000 {
               label = "kernel";
               reg = <0x100000 0x600000>;
           };

           rootfs@700000 {
               label = "rootfs";
               reg = <0x700000 0x1000000>;
           };
       };

    };
};


// ----------IPS200屏幕---------- //
// 目前只支持IPS200的SPI屏幕。
// 不支持其他屏幕。
&spi1{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_4bit>;

    st7789v:st7789v@0{
        status = "okay";
        compatible = "sitronix,st7789v";
        reg = <0>;              //chip select 0:cs0  1:cs1

        spi-max-frequency =<50000000>;
        spi-cpol;
        spi-cpha;
        rgb;
        rotate = <0>;           // 旋转方向 0 90 180 270
        buswidth = <8>;
        fps = <30>;             // 帧率
        
        dc-gpios = <&gpa1 10 GPIO_ACTIVE_HIGH>;     // GPIO26
        reset-gpios = <&gpa4 10 GPIO_ACTIVE_HIGH>;  // GPIO74
        backlight = <&st7789v_blk>;

        width = <240>;     
        height= <320>;      

        debug = <0x0>;
    };
};
// ----------IPS200屏幕---------- //

// ----------带方向编码器配置---------- //
// 编码器1
// PWM0 GPIO64
&pwm0{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm0_mux_m0>;
    clock-frequency = <100000000>;                  // 10ns计数一次, 100MHZ的采样频率
    compatible = "seekfree,encoder";
    encoder-dir-gpio = <&gpa3 3 GPIO_ACTIVE_HIGH>;  // GPIO051
    dev-name = "zf_encoder_1";
};


// 编码器2
// PWM3 GPIO67
&pwm3{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm3_mux_m0>;
    clock-frequency = <100000000>;                  // 10ns计数一次, 100MHZ的采样频率
    reg = <0 0x1611b030 0 0x10>;
    compatible = "seekfree,encoder";
    encoder-dir-gpio = <&gpa3 2 GPIO_ACTIVE_HIGH>;  // GPIO050
    dev-name = "zf_encoder_2";
};
// ----------带方向编码器配置---------- //

// ----------电机PWM配置---------- //
// PWM1 GPIO65 
// PWM GPIO065  pwm[1]
// DIR GPIO073
&pwm1{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm1_mux_m0>;
    clock-frequency = <100000000>;
    compatible = "loongson,ls300-pwm";
};

// PWM2 GPIO66
// PWM GPIO066  pwm[2]
// DIR GPIO072
&pwm2{
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm2_mux_m0>;
    clock-frequency = <100000000>;
    compatible = "loongson,ls300-pwm";
};
// ----------电机PWM配置---------- //


// ----------舵机PWM配置---------- //
//GPIO86 pwmchip2
&pwm_atim{
    status = "okay";
    compatible = "loongson,ls300-pwm-atim";
    pinctrl-names = "default";
    pinctrl-0 = <&atim_ch3n_pin_m1>;   
};
// ----------舵机PWM配置---------- //

// ----------电调PWM配置---------- //
//GPIO88 GPIO89 pwmchip6
&pwm_gtim{
    status = "disabled";              //修改了
    compatible = "loongson,ls300-pwm-gtim";
    pinctrl-names = "default";
    pinctrl-0 = <&gtim_ch2_pin_m1>, <&gtim_ch3_pin_m1>;  
};
// ----------电调PWM配置----------//

// ----------ADC配置----------//
&adc{
	status = "okay";
};
// ----------ADC配置----------//
